section.approach 
    .container
        .title.title--with-bottom-line
           h2.title__header Our Approch
           .title__text Click our approches step by step(how we d it)
    
        ul.approach__list
            li.approach__item
                .approach__image 
                    img.approach__picture(src = "../../images/step-1.jpg" alt = "picture")
                    .approach__step step
                .approach__text 
                    .approach__title Step 1 : Heading here
                    p.approach-description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quo quos cupiditate, aut excepturi sequi consequatur obcaecati architecto odio qui quisquam nemo quidem, debitis temporibus.
            li.approach__item
                .approach__image 
                    img.approach__picture(src = "../../images/step-2.jpg" alt = "picture")
                    .approach__step step
                .approach__text 
                    .approach__title Step 2 : Heading here
                    p.approach-description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quo quos cupiditate, aut excepturi sequi consequatur obcaecati architecto odio qui quisquam nemo quidem, debitis temporibus.
            li.approach__item
                .approach__image 
                    img.approach__picture(src = "../../images/step-3.jpg" alt = "picture")
                    .approach__step step
                .approach__text 
                    .approach__title Step 3 : Heading here
                    p.approach-description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quo quos cupiditate, aut excepturi sequi consequatur obcaecati architecto odio qui quisquam nemo quidem, debitis temporibus.
            li.approach__item
                .approach__image 
                    img.approach__picture(src = "../../images/step-4.jpg" alt = "picture")
                    .approach__step step
                .approach__text 
                    .approach__title Step 4 : Heading here
                    p.approach-description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quo quos cupiditate, aut excepturi sequi consequatur obcaecati architecto odio qui quisquam nemo quidem, debitis temporibus.