section.work 
    .container
        .title.title--with-bottom-line
            h2.title.title__header Our Work
            .title__text We are added our featured works
    
        .work__list
            .work__item.work__item__name
                .work__name Project Name
                .work__description  Facebook marketing

            .work__item: img.work__picture(src = "images/work-1.jpg" alt = "picture")

            .work__item.work__item__name
                .work__name Project Name
                .work__description  Lending Page

            .work__item: img.work__picture(src = "images/work-2.jpg" alt = "picture")

            .work__item: img.work__picture(src = "images/work-3.jpg" alt = "picture")

            .work__item.work__item__name
                .work__name Project Name
                .work__description  Lending Page

            .work__item: img.work__picture(src = "images/work-4.jpg" alt = "picture")

            .work__item.work__item__name
                .work__name Project Name
                .work__description  Facebook marketing
            